body{
    background-color: rgb(156, 154, 154);
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0;
   
}
header {
    color: white;
    background-color: rgba(59, 59, 59, 0.781);
    padding: 66px;
    width: 100vw; 
    overflow: auto;
    box-sizing: border-box; 
}


header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}


nav {
    background-color: white;
    padding: 15px;
    text-align: center;
    width: 100vw; 
    box-sizing: border-box;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}



#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
   color: white;
}

a:hover{
     color: rgb(53, 53, 53);
     transition: 0.3s all;
}

#increva-se-btn{
    border: 2px solid rgb(121, 101, 101);
    padding: 10px;
    border-radius: 20px;
}

h1{
   font-weight: 200px; 
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

span{
    color: rgb(116, 114, 114);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 450px;
}

